<div class="d-flex justify-content-center align-items-center mt-3" >
  <i class="fa-solid fa-arrow-left backBtn btn m-2 border" routerLink=""></i>
  <h3 class="pt-2 fw-bold">Calculater</h3>
</div>

<div class="container" id="container">
    <div id="calculator">
      <div id="result">
        <div id="history">
          <input type="text" name="" id="history-value" [(ngModel)]="output">
        </div>
        <div id="output">
          <input type="text" id="output-value" name="output" [(ngModel)]="finalResult">
        </div>
      </div>
      <div id="keyboard">
        <button class="operator" id="clear" (click)="clear()">C</button>
      <button class="operator" id="backspace" (click)="back()">CE</button>
      <button class="operator" (click)="insert($event)" value="%">%</button>
      <button class="operator" (click)="insert($event)" value="/">&#247;</button>
      <button class="number" (click)="insert($event)" value="7">7</button>
      <button class="number" (click)="insert($event)" value="8">8</button>
      <button class="number" (click)="insert($event)" value="9">9</button>
      <button class="operator" (click)="insert($event)" value="*">&#215;</button>
      <button class="number" (click)="insert($event)" value="4">4</button>
      <button class="number" (click)="insert($event)" value="5">5</button>
      <button class="number" (click)="insert($event)" value="6">6</button>
      <button class="operator" (click)="insert($event)" value="-">&#8722;</button>
      <button class="number" (click)="insert($event)" value="1">1</button>
      <button class="number" (click)="insert($event)" value="2">2</button>
      <button class="number" (click)="insert($event)" value="3">3</button>
      <button class="operator" (click)="insert($event)" value="+">+</button>
      <button class="number" (click)="insert($event)" value=".">.</button>
      <button class="number" (click)="insert($event)" value="0">0</button>
      <button class="empty" (click)="back()">&#x2190;</button>
      <button class="operator" (click)="answer()">=</button>
        
      </div>
    </div>
</div>
  