<div class="d-flex justify-content-center align-items-center mt-3" >
  <i class="fa-solid fa-arrow-left backBtn btn m-2 border" routerLink=""></i>
  <h3 class="pt-2 fw-bold">Converter</h3>
</div>

<div class="container d-flex justify-content-center align-items-center mt-3">
  <div class="card mainCards me-3" style="width: 18rem;">
      
    <div class="word-to-PdfClass card-body d-flex justify-content-center align-items-center flex-column">
      <img src="https://th.bing.com/th/id/OIP.kSmAgXawWHxOTQcLvBhd4QHaE8?w=236&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" class="card-img-top" alt="...">
      <h4 class="card-text">Word To Pdf</h4>
      <button class="btn btn-secondary text-center" routerLink="/word-to-pdf">Go</button>
    </div>
  </div>

  <div class="card mainCards me-3" style="width: 18rem;">
      
    <div class="card-body d-flex justify-content-center align-items-center flex-column">
      <img src="https://th.bing.com/th/id/OIP.IojJkAG8A4dxIWfZTFsS5QHaHa?w=174&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" class="card-img-top" alt="...">
      <h4 class="card-text">Pdf To Word</h4>
      <button class="btn btn-secondary text-center" routerLink="/pdf-to-word">Go</button>
    </div>
  </div>
</div>

