.mainSection{
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 5px;
    height: 80vh;
    
}


.sidebar{
    width: 25%;
    height: 90%;
    margin-right: 10px;
    
}
.sidebar>button{
    margin: 10px;
}


.textInput>textarea{
    margin-top: 10px;
    width: 56.25rem;
    height: 60%;
    border: 1px solid white;
    border-radius: 2px;
    background-color: rgb(62, 60, 60);
    color: white;
    outline: none;
}

