<div class="d-flex justify-content-center align-items-center mt-3" >
  <i class="fa-solid fa-arrow-left backBtn btn m-2 border" routerLink=""></i>
  <h3 class="pt-2 fw-bold">Converter</h3>
</div>

<div class="container d-flex justify-content-center align-items-center mt-3">
  <div class="card mainCards me-3" style="width: 18rem;">
      
    <div class="card-body d-flex justify-content-center align-items-center flex-column">
      <img src="https://tse1.mm.bing.net/th/id/OIP.ZNwpk5yjM0rwXYy2X5SkJgHaHa?pid=ImgDet&w=179&h=179&c=7&dpr=1.5" class="card-img-top" alt="...">
      <h4 class="card-text">Currency Converter</h4>
      <button class="btn btn-secondary text-center" routerLink="/currency">Go</button>
    </div>
  </div>

  <div class="card mainCards me-3" style="width: 18rem;">
      
    <div class="card-body d-flex justify-content-center align-items-center flex-column">
      <img src="https://tse4.mm.bing.net/th/id/OIP.Xu8H9g4C8O56jUuZRBHQQgHaHa?pid=ImgDet&w=179&h=179&c=7&dpr=1.5" class="card-img-top" alt="...">
      <h4 class="card-text">Time-converter</h4>
      <button class="btn btn-secondary text-center" routerLink="/time">Go</button>
    </div>
  </div>
</div>

