<h1 class="text-center mt-2">Multi-Task</h1>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="card mainCards me-3" style="width: 18rem;">
    
    <div class="card-body d-flex justify-content-center align-items-center flex-column">
      <img src="https://static.vecteezy.com/system/resources/previews/000/357/163/original/vector-calculator-icon.jpg" class="card-img-top" alt="...">
      <h4 class="card-text">Calculator</h4>
      <p class="text-center">Perform arithmetic calculations</p>
      <button class="btn btn-secondary" routerLink="/calculator">Go</button>
    </div>
  </div>
  <div class="card mainCards me-3" style="width: 18rem;">
    
    <div class="card-body d-flex justify-content-center align-items-center flex-column">
      <img src="https://thafd.bing.com/th/id/OIP.5QEYLl8pbpimBf79j2PMhQHaHa?rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
      <h4 class="card-text">JSON Viewer</h4>
      <p class="text-center">View and format JSON data</p>
      <button class="btn btn-secondary text-center" routerLink="/json">Go</button>
    </div>
  </div>
  <div class="card mainCards me-3" style="width: 18rem;">
    
    <div class="card-body d-flex justify-content-center align-items-center flex-column">
      <img src="https://static.vecteezy.com/system/resources/previews/019/033/739/original/convert-pdf-to-jpg-file-icon-in-line-style-design-isolated-on-white-background-editable-stroke-vector.jpg" class="card-img-top" alt="...">
      <h4 class="card-text">Converter</h4>
      <p class="text-center">Convert PDF files to Word documents</p>
      <button class="btn btn-secondary text-center" routerLink="/converter">Go</button>
    </div>
  </div>
  
</div>
